## Hardware check

In [1]:
# gpu check
! nvidia-smi

Mon Apr  8 18:54:58 2024
+---------------------------------------------------------------------------------------+
| NVIDIA-SMI 535.104.12             Driver Version: 535.104.12   CUDA Version: 12.2     |
|-----------------------------------------+----------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |         Memory-Usage | GPU-Util  Compute M. |
|                                         |                      |               MIG M. |
|=========================================+======================+======================|
|   0  Tesla V100-SXM2-32GB           On  | 00000000:3A:00.0 Off |                    0 |
| N/A   31C    P0              41W / 300W |      9MiB / 32768MiB |      0%      Default |
|                                         |                      |                  N/A |
+-----------------------------------------+----------------------+----------------------+
|   1  Tesla V100-SXM2-32GB           On  | 00000000:3B:00.0 Off |                    0 |
| N/A   31C    P0              41W / 300W |      9MiB / 32768MiB |      0%      Default |
|                                         |                      |                  N/A |
+-----------------------------------------+----------------------+----------------------+
|   2  Tesla V100-SXM2-32GB           On  | 00000000:B2:00.0 Off |                    0 |
| N/A   30C    P0              40W / 300W |      9MiB / 32768MiB |      0%      Default |
|                                         |                      |                  N/A |
+-----------------------------------------+----------------------+----------------------+
|   3  Tesla V100-SXM2-32GB           On  | 00000000:B3:00.0 Off |                    0 |
| N/A   32C    P0              41W / 300W |      9MiB / 32768MiB |      0%      Default |
|                                         |                      |                  N/A |
+-----------------------------------------+----------------------+----------------------+

+---------------------------------------------------------------------------------------+
| Processes:                                                                            |
|  GPU   GI   CI        PID   Type   Process name                            GPU Memory |
|        ID   ID                                                             Usage      |
|=======================================================================================|
|    0   N/A  N/A      2516      G   /usr/libexec/Xorg                             8MiB |
|    1   N/A  N/A      2516      G   /usr/libexec/Xorg                             8MiB |
|    2   N/A  N/A      2516      G   /usr/libexec/Xorg                             8MiB |
|    3   N/A  N/A      2516      G   /usr/libexec/Xorg                             8MiB |
+---------------------------------------------------------------------------------------+

In [3]:
# check number of cores
import multiprocessing

cores = multiprocessing.cpu_count() 
cores

80

In [4]:
! python --version

Python 3.9.7

## Environment Prep

In [2]:
cd /pfs/data5/home/hd/hd_hd/hd_nf283/MA_Thesis/

/pfs/data5/home/hd/hd_hd/hd_nf283/MA_Thesis

In [3]:
from keras.utils import pad_sequences
import pickle
import numpy as np
from tqdm import tqdm
tqdm.pandas()
import pandas as pd
import json

2024-04-08 18:54:59.886681: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-04-08 18:55:00.351561: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-04-08 18:55:03.226169: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

### Version Check

In [7]:
import tensorflow as tf
print(tf. __version__)

pickle.format_version

2.12.0

'4.0'

## Train/Val

In [8]:
data_path = 'Data/sepsis_removed_0.pkl'
pkl = pickle.load(open(data_path, 'rb'))
data = pkl[0]
oc = pkl[1]
train_ind = pkl[2]
valid_ind = pkl[3]
test_ind = pkl[4]
# embs = pkl[5]
del pkl

In [9]:
data_path = 'Data/CLS_emb_keywords_reserved.pkl'
pkl = pickle.load(open(data_path, 'rb'))
embs = pkl[0]
del pkl

In [10]:
text_data = data[data['variable'] == 'Text']
text_data

,ts_ind,hour,variable,value,TABLE,mean,std
0,10223,467.816667,Text,Admission Date: [**2119-5-4**] D...,noteevents,1.0,1.0
1,18407,28.016667,Text,Admission Date: [**2112-12-8**] ...,noteevents,1.0,1.0
2,40300,155.166667,Text,Admission Date: [**2194-7-18**] ...,noteevents,1.0,1.0
3,23747,52.383333,Text,Admission Date: [**2194-1-7**] D...,noteevents,1.0,1.0
4,2357,73.133333,Text,Admission Date: [**2186-6-7**] Discharge ...,noteevents,1.0,1.0
...,...,...,...,...,...,...,...
1407425,31015,99.400000,Text,NPN\n\n\n#1 Infant remains in RA with O2 sats...,noteevents,1.0,1.0
1407426,31015,105.783333,Text,"Neonatology\nDOL #5, CGA 36 weeks. \n\nCVR: Co...",noteevents,1.0,1.0
1407427,31015,112.650000,Text,Family Meeting Note\nFamily meeting held with ...,noteevents,1.0,1.0
1407428,31015,114.033333,Text,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...,noteevents,1.0,1.0
1407429,31015,114.033333,Text,NPN 1800\nNursing Addendum:\n[**Known lastname...,noteevents,1.0,1.0

In [11]:
embs_list = []

for emb in embs:
    embs_list.append(emb)

text_data['value'] = embs_list
text_data

/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/3937955675.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text_data['value'] = embs_list

,ts_ind,hour,variable,value,TABLE,mean,std
0,10223,467.816667,Text,"[0.14401615, 0.15158324, -0.3973308, 0.26409, ...",noteevents,1.0,1.0
1,18407,28.016667,Text,"[0.10852944, 0.2838851, -0.3647646, 0.27892292...",noteevents,1.0,1.0
2,40300,155.166667,Text,"[0.064612664, 0.20329593, -0.4460111, 0.203105...",noteevents,1.0,1.0
3,23747,52.383333,Text,"[0.070009716, 0.33203533, -0.21765643, 0.15761...",noteevents,1.0,1.0
4,2357,73.133333,Text,"[0.1063, 0.10509527, -0.35790482, 0.10100723, ...",noteevents,1.0,1.0
...,...,...,...,...,...,...,...
1407425,31015,99.400000,Text,"[-0.06811574, 0.019226989, -0.59367394, 0.2867...",noteevents,1.0,1.0
1407426,31015,105.783333,Text,"[0.18735209, 0.23587628, -0.03283742, 0.438380...",noteevents,1.0,1.0
1407427,31015,112.650000,Text,"[-0.18193512, -0.00037389036, -0.4246634, 0.31...",noteevents,1.0,1.0
1407428,31015,114.033333,Text,"[-0.099320516, 0.38617504, -0.54376817, 0.2740...",noteevents,1.0,1.0
1407429,31015,114.033333,Text,"[0.030122608, 0.17025073, -0.41535568, 0.25202...",noteevents,1.0,1.0

In [12]:
physio_data = data[data['variable'] != 'Text']
physio_data

,ts_ind,hour,variable,value,TABLE,mean,std
1407430,0,0.000000,Age,66.0,N/A,64.053647,56.625699
1407431,0,0.000000,Gender,1.0,N/A,0.438951,0.496263
1407432,0,0.033333,DBP,-0.517967,chart,59.766756,14.994705
1407433,0,0.033333,GCS_eye,0.679313,chart,3.274060,1.068640
1407434,0,0.033333,GCS_motor,0.515191,chart,5.271144,1.414728
...,...,...,...,...,...,...,...
82886223,57281,20.400000,MBP,0.195381,chart,78.552377,17.645628
82886224,57281,20.400000,O2 Saturation,-0.678068,chart,96.820961,4.160290
82886225,57281,20.400000,RR,0.179866,chart,26.278501,15.130729
82886226,57281,20.400000,SBP,-0.404061,chart,120.239648,25.341836
82886227,57281,20.400000,Urine,-0.24296,output,123.393012,137.442433

In [13]:
del data
data = text_data.append(physio_data, ignore_index=False)

/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2221810867.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = text_data.append(physio_data, ignore_index=False)

In [14]:
data

,ts_ind,hour,variable,value,TABLE,mean,std
0,10223,467.816667,Text,"[0.14401615, 0.15158324, -0.3973308, 0.26409, ...",noteevents,1.000000,1.000000
1,18407,28.016667,Text,"[0.10852944, 0.2838851, -0.3647646, 0.27892292...",noteevents,1.000000,1.000000
2,40300,155.166667,Text,"[0.064612664, 0.20329593, -0.4460111, 0.203105...",noteevents,1.000000,1.000000
3,23747,52.383333,Text,"[0.070009716, 0.33203533, -0.21765643, 0.15761...",noteevents,1.000000,1.000000
4,2357,73.133333,Text,"[0.1063, 0.10509527, -0.35790482, 0.10100723, ...",noteevents,1.000000,1.000000
...,...,...,...,...,...,...,...
82886223,57281,20.400000,MBP,0.195381,chart,78.552377,17.645628
82886224,57281,20.400000,O2 Saturation,-0.678068,chart,96.820961,4.160290
82886225,57281,20.400000,RR,0.179866,chart,26.278501,15.130729
82886226,57281,20.400000,SBP,-0.404061,chart,120.239648,25.341836
82886227,57281,20.400000,Urine,-0.24296,output,123.393012,137.442433

In [15]:
pred_window = 2 # hours
obs_windows = range(20, 124, 4)

# Remove test patients.
data = data.merge(oc[['ts_ind', 'SUBJECT_ID']], on='ts_ind', how='left')
test_sub = oc.loc[oc.ts_ind.isin(test_ind)].SUBJECT_ID.unique()
data = data.loc[~data.SUBJECT_ID.isin(test_sub)]
oc = oc.loc[~oc.SUBJECT_ID.isin(test_sub)]
data.drop(columns=['SUBJECT_ID', 'TABLE'], inplace=True)
# Get static data with mean fill and missingness indicator.
static_varis = ['Age', 'Gender']
ii = data.variable.isin(static_varis)
static_data = data.loc[ii]
data = data.loc[~ii]
def inv_list(l, start=0):
    d = {}
    for i in range(len(l)):
        d[l[i]] = i+start
    return d
static_var_to_ind = inv_list(static_varis)
D = len(static_varis)
N = data.ts_ind.max()+1

# Get variable indices.
varis = sorted(list(set(data.variable)))
V = len(varis)
var_to_ind = inv_list(varis, start=1)
data['vind'] = data.variable.map(var_to_ind)
data = data[['ts_ind', 'vind', 'hour', 'value']].sort_values(by=['ts_ind', 'vind', 'hour'])
# Find max_len.
fore_max_len = 880
# Get forecast inputs and outputs.
fore_texts_ip = []
fore_inds = []
def f(x):
    mask = [0 for i in range(V)]
    values = [0 for i in range(V)]
    for vv in x:
        v = int(vv[0])-1
        mask[v] = 1
        values[v] = vv[1]
    return values+mask
def pad(x):
    return x+[0]*(fore_max_len-len(x))
for w in tqdm(obs_windows):
    pred_data = data.loc[(data.hour>=w)&(data.hour<=w+pred_window)]
    pred_data = pred_data.groupby(['ts_ind', 'vind']).agg({'value':'first'}).reset_index()
    pred_data['vind_value'] = pred_data[['vind', 'value']].values.tolist()
    pred_data = pred_data.groupby('ts_ind').agg({'vind_value':list}).reset_index()
    pred_data['vind_value'] = pred_data['vind_value'].apply(f)    
    obs_data = data.loc[(data.hour<w)&(data.hour>=w-24)]
    obs_data = obs_data.loc[obs_data.ts_ind.isin(pred_data.ts_ind)]
    obs_data = obs_data.groupby('ts_ind').head(fore_max_len)
    obs_data = obs_data.groupby('ts_ind').agg({'vind':list, 'hour':list, 'value':list}).reset_index()
    obs_data = obs_data.merge(pred_data, on='ts_ind')
    for col in ['vind', 'hour', 'value']:
        obs_data[col] = obs_data[col].apply(pad)
    fore_inds.append(np.array(list(obs_data.ts_ind)))
    
    matrix = list(obs_data.value)
    obs_strings = []
    for l in matrix:
        string_list = []
        for value in l:
            if not np.isscalar(value):
            # if isinstance(value, str):
                string_list.append(value)
        obs_strings.append(string_list)
    del matrix
    fore_texts_ip.append(np.array(obs_strings)) 
del data

  0%|          | 0/26 [00:00<?, ?it/s]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
  4%|▍         | 1/26 [00:20<08:40, 20.84s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
  8%|▊         | 2/26 [00:45<09:09, 22.90s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 12%|█▏        | 3/26 [01:06<08:27, 22.05s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 15%|█▌        | 4/26 [01:26<07:47, 21.26s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 19%|█▉        | 5/26 [01:43<06:57, 19.87s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 23%|██▎       | 6/26 [02:00<06:16, 18.84s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 27%|██▋       | 7/26 [02:16<05:39, 17.86s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 31%|███       | 8/26 [02:30<05:01, 16.76s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 35%|███▍      | 9/26 [02:44<04:27, 15.75s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 38%|███▊      | 10/26 [02:56<03:55, 14.70s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 42%|████▏     | 11/26 [03:08<03:27, 13.83s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 46%|████▌     | 12/26 [03:20<03:06, 13.30s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 50%|█████     | 13/26 [03:31<02:42, 12.52s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 54%|█████▍    | 14/26 [03:41<02:22, 11.85s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 58%|█████▊    | 15/26 [03:50<02:01, 11.03s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 62%|██████▏   | 16/26 [03:59<01:44, 10.50s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 65%|██████▌   | 17/26 [04:08<01:29,  9.89s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 69%|██████▉   | 18/26 [04:17<01:16,  9.56s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 73%|███████▎  | 19/26 [04:25<01:03,  9.08s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 77%|███████▋  | 20/26 [04:33<00:52,  8.80s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 81%|████████  | 21/26 [04:40<00:41,  8.33s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 85%|████████▍ | 22/26 [04:47<00:31,  7.93s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 88%|████████▊ | 23/26 [04:54<00:22,  7.60s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 92%|█████████▏| 24/26 [05:01<00:14,  7.31s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 96%|█████████▌| 25/26 [05:07<00:07,  7.04s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_89302/2820743741.py:70: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
100%|██████████| 26/26 [05:13<00:00, 12.06s/it]

In [16]:
fore_texts_ip = np.concatenate(fore_texts_ip, axis=0)
fore_inds = np.concatenate(fore_inds, axis=0)
# Get train and valid ts_ind for forecast task.
train_sub = oc.loc[oc.ts_ind.isin(train_ind)].SUBJECT_ID.unique()
valid_sub = oc.loc[oc.ts_ind.isin(valid_ind)].SUBJECT_ID.unique()
rem_sub = oc.loc[~oc.SUBJECT_ID.isin(np.concatenate((train_ind, valid_ind)))].SUBJECT_ID.unique()
bp = int(0.8*len(rem_sub))
train_sub = np.concatenate((train_sub, rem_sub[:bp]))
valid_sub = np.concatenate((valid_sub, rem_sub[bp:]))
train_ind = oc.loc[oc.SUBJECT_ID.isin(train_sub)].ts_ind.unique() # Add remaining ts_ind s of train subjects.
valid_ind = oc.loc[oc.SUBJECT_ID.isin(valid_sub)].ts_ind.unique() # Add remaining ts_ind s of train subjects.
# Generate 3 sets of inputs and outputs.
train_ind = np.argwhere(np.in1d(fore_inds, train_ind)).flatten()
valid_ind = np.argwhere(np.in1d(fore_inds, valid_ind)).flatten()
fore_train_ip = [ip[train_ind] for ip in [fore_texts_ip]]
fore_valid_ip = [ip[valid_ind] for ip in [fore_texts_ip]]
del fore_texts_ip

fore_train_text_ip = fore_train_ip[0]
fore_valid_text_ip = fore_valid_ip[0]
del fore_train_ip, fore_valid_ip

In [17]:
fore_train_concat_text_ip = []
# concat train texts per instance
for text in tqdm(fore_train_text_ip):
    if text == []:
        fore_train_concat_text_ip.append(np.array([0.0]))
    else: 
        concat_text = np.concatenate(text)
        fore_train_concat_text_ip.append(concat_text)
# train_embs = np.array(fore_train_concat_text_ip)

100%|██████████| 449482/449482 [00:04<00:00, 106170.94it/s]

In [18]:
fore_valid_concat_text_ip = []
# concat train texts per instance
for text in tqdm(fore_valid_text_ip):
    if text == []:
        fore_valid_concat_text_ip.append(np.array([0.0]))
    else: 
        concat_text = np.concatenate(text)
        fore_valid_concat_text_ip.append(concat_text)
# train_embs = np.array(fore_train_concat_text_ip)

100%|██████████| 136823/136823 [00:01<00:00, 94359.09it/s]

In [19]:
# padding
max_len = 768*50
# padding
padded_train = pad_sequences(fore_train_concat_text_ip, maxlen=max_len, dtype='float32', padding='post')
padded_train.shape

(449482, 38400)

In [20]:
# padding
padded_valid = pad_sequences(fore_valid_concat_text_ip, maxlen=max_len, dtype='float32', padding='post')
padded_valid.shape

(136823, 38400)

In [22]:
# dump to pkl, update sepsis_removed_0.pkl
pickle.dump([padded_train, padded_valid], open('Data/hierar/text_emb_input_train_val_1.pkl','wb'))

## Test

In [4]:
data_path = 'Data/sepsis_removed_0.pkl'
pkl = pickle.load(open(data_path, 'rb'))
data = pkl[0]
oc = pkl[1]
train_ind = pkl[2]
valid_ind = pkl[3]
test_ind = pkl[4]
# embs = pkl[5]
del pkl

# embs
data_path = 'Data/CLS_emb_keywords_reserved.pkl'
pkl = pickle.load(open(data_path, 'rb'))
embs = pkl[0]
del pkl

text_data = data[data['variable'] == 'Text']
embs_list = []
for emb in embs:
    embs_list.append(emb)
text_data['value'] = embs_list
physio_data = data[data['variable'] != 'Text']
del data
data = text_data.append(physio_data, ignore_index=False)

/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/268823753.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text_data['value'] = embs_list
/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/268823753.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = text_data.append(physio_data, ignore_index=False)

In [5]:
pred_window = 2  # hours
obs_windows = range(20, 124, 4)

# Remove train, val patients
data = data.merge(oc[['ts_ind', 'SUBJECT_ID']], on='ts_ind', how='left')
train_sub = oc.loc[oc.ts_ind.isin(train_ind)].SUBJECT_ID.unique()
valid_sub = oc.loc[oc.ts_ind.isin(valid_ind)].SUBJECT_ID.unique()
data = data.loc[~data.SUBJECT_ID.isin(train_sub)]
data = data.loc[~data.SUBJECT_ID.isin(valid_sub)]
oc = oc.loc[~oc.SUBJECT_ID.isin(train_sub)]
oc = oc.loc[~oc.SUBJECT_ID.isin(valid_sub)]

data.drop(columns=['SUBJECT_ID', 'TABLE'], inplace=True)
# Get static data with mean fill and missingness indicator.
static_varis = ['Age', 'Gender']
ii = data.variable.isin(static_varis)
static_data = data.loc[ii]
data = data.loc[~ii]


def inv_list(l, start=0):
    d = {}
    for i in range(len(l)):
        d[l[i]] = i+start
    return d


static_var_to_ind = inv_list(static_varis)
D = len(static_varis)
N = data.ts_ind.max()+1

# Get variable indices.
varis = sorted(list(set(data.variable)))
V = len(varis)
var_to_ind = inv_list(varis, start=1)
data['vind'] = data.variable.map(var_to_ind)
data = data[['ts_ind', 'vind', 'hour', 'value']
            ].sort_values(by=['ts_ind', 'vind', 'hour'])
# Find max_len.
fore_max_len = 880
# Get forecast inputs and outputs.
fore_texts_ip = []
fore_inds = []


def f(x):
    mask = [0 for i in range(V)]
    values = [0 for i in range(V)]
    for vv in x:
        v = int(vv[0])-1
        mask[v] = 1
        values[v] = vv[1]
    return values+mask


def pad(x):
    return x+[0]*(fore_max_len-len(x))


for w in tqdm(obs_windows):
    pred_data = data.loc[(data.hour >= w) & (data.hour <= w+pred_window)]
    pred_data = pred_data.groupby(['ts_ind', 'vind']).agg(
        {'value': 'first'}).reset_index()
    pred_data['vind_value'] = pred_data[['vind', 'value']].values.tolist()
    pred_data = pred_data.groupby('ts_ind').agg(
        {'vind_value': list}).reset_index()
    pred_data['vind_value'] = pred_data['vind_value'].apply(f)
    obs_data = data.loc[(data.hour < w) & (data.hour >= w-24)]
    obs_data = obs_data.loc[obs_data.ts_ind.isin(pred_data.ts_ind)]
    obs_data = obs_data.groupby('ts_ind').head(fore_max_len)
    obs_data = obs_data.groupby('ts_ind').agg(
        {'vind': list, 'hour': list, 'value': list}).reset_index()
    obs_data = obs_data.merge(pred_data, on='ts_ind')
    for col in ['vind', 'hour', 'value']:
        obs_data[col] = obs_data[col].apply(pad)
    fore_inds.append(np.array(list(obs_data.ts_ind)))

    matrix = list(obs_data.value)
    obs_strings = []
    for l in matrix:
        string_list = []
        for value in l:
            if not np.isscalar(value):
            # if isinstance(value, str):
                string_list.append(value)
        obs_strings.append(string_list)
    del matrix
    fore_texts_ip.append(np.array(obs_strings))
del data

fore_texts_ip = np.concatenate(fore_texts_ip, axis=0)

  0%|          | 0/26 [00:00<?, ?it/s]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
  4%|▍         | 1/26 [00:05<02:08,  5.14s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
  8%|▊         | 2/26 [00:10<02:04,  5.18s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 12%|█▏        | 3/26 [00:15<01:54,  5.00s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 15%|█▌        | 4/26 [00:19<01:45,  4.78s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 19%|█▉        | 5/26 [00:23<01:34,  4.51s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 23%|██▎       | 6/26 [00:27<01:27,  4.40s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 27%|██▋       | 7/26 [00:31<01:18,  4.15s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 31%|███       | 8/26 [00:34<01:10,  3.90s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 35%|███▍      | 9/26 [00:37<01:01,  3.64s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 38%|███▊      | 10/26 [00:40<00:54,  3.43s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 42%|████▏     | 11/26 [00:43<00:48,  3.25s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 46%|████▌     | 12/26 [00:46<00:43,  3.08s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 50%|█████     | 13/26 [00:48<00:38,  2.93s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 54%|█████▍    | 14/26 [00:51<00:33,  2.79s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 58%|█████▊    | 15/26 [00:53<00:28,  2.62s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 62%|██████▏   | 16/26 [00:55<00:24,  2.43s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 65%|██████▌   | 17/26 [00:57<00:21,  2.37s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 69%|██████▉   | 18/26 [00:59<00:18,  2.29s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 73%|███████▎  | 19/26 [01:01<00:15,  2.20s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 77%|███████▋  | 20/26 [01:03<00:12,  2.06s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 81%|████████  | 21/26 [01:05<00:10,  2.01s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 85%|████████▍ | 22/26 [01:07<00:07,  1.89s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 88%|████████▊ | 23/26 [01:08<00:05,  1.86s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 92%|█████████▏| 24/26 [01:10<00:03,  1.76s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
 96%|█████████▌| 25/26 [01:12<00:01,  1.74s/it]/scratch/slurm_tmpdir/job_23338490/ipykernel_90455/2484361121.py:88: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  fore_texts_ip.append(np.array(obs_strings))
100%|██████████| 26/26 [01:13<00:00,  2.83s/it]

In [6]:
fore_test_concat_text_ip = []
# concat train texts per instance
for text in tqdm(fore_texts_ip):
    if text == []:
        fore_test_concat_text_ip.append(np.array([0.0]))
    else: 
        concat_text = np.concatenate(text)
        fore_test_concat_text_ip.append(concat_text)
# train_embs = np.array(fore_train_concat_text_ip)

100%|██████████| 131920/131920 [00:00<00:00, 132336.54it/s]

In [ ]:
# # obtain max_len, max_len = 33792
# max_length = max([len(max(fore_test_concat_text_ip, key=len)), len(max(fore_train_concat_text_ip, key=len)), len(max(fore_valid_concat_text_ip, key=len))])

In [ ]:
# # padding
# padded_train = pad_sequences(fore_train_concat_text_ip, maxlen=max_length, dtype='float32', padding='post')
# padded_train.shape

In [ ]:
# # padding
# padded_valid = pad_sequences(fore_valid_concat_text_ip, maxlen=max_length, dtype='float32', padding='post')
# padded_valid.shape

In [7]:
# padding
max_len = 768*50
padded_test = pad_sequences(fore_test_concat_text_ip, maxlen=max_len, dtype='float32', padding='post')
padded_test.shape

(131920, 38400)

In [ ]:
# data_path = 'Data/sepsis_removed_0.pkl'
# pkl = pickle.load(open(data_path, 'rb'))
# data = pkl[0]
# oc = pkl[1]
# train_ind = pkl[2]
# valid_ind = pkl[3]
# test_ind = pkl[4]
# embs = pkl[5]
# del pkl
# text_data = data[data['variable'] == 'Text']
# embs_list = []
# for emb in embs:
#     embs_list.append(emb)
# text_data['value'] = embs_list
# physio_data = data[data['variable'] != 'Text']
# data_more = text_data.append(physio_data, ignore_index=False)

In [8]:
# dump to pkl, update sepsis_removed_0.pkl
pickle.dump([padded_test], open('Data/hierar/text_emb_input_test_1.pkl','wb'))